@media ( max-width: 575px) {
    .App .video-react .video-react-button {
        width: 3em;
    }

    .App .video-react .video-react-time-control {
        padding-left: 0;
        padding-right: 0;
    }

    .App .btn {
        padding: 0.35rem;
    }
}

video {
    outline: none;
}

.video-react {
    font-family: Arial, Helvetica, sans-serif !important;
}

.video-react-control-bar > .chartContainer {
    z-index: 2;
    bottom: 150%;
    position: absolute;
    width: 60% !important;
    left: 20%;
    padding-left: 0;
    padding-right: 0;
}

.video-react-control-bar > .chartContainer > canvas {
    z-index: 2;
    bottom: 150%;
    position: absolute;
    width: 100% !important;
    padding-left: 0;
    padding-right: 0;
}

.video-react-control-bar > .bookmarkContainer {
    z-index: 2;
    bottom: calc(150% - 10px);
    position: absolute;
    height: 20px;
    padding-left: 0;
    padding-right: 0;
}

.App .video-react-control-bar > .timeSlider {
    z-index: 3;
    position: absolute;
    bottom: 100%;
    left: 20%;
    width: 60%;
    margin-left: 0;
    margin-right: 0;
}

.video-react .video-react-progress-control > .video-react-slider {
    margin: 0 0;
}

.fillButton {
    flex: auto;
}

.App .mainPlayer .subSingleMode {
    position: absolute;
    top: 15%;
    left: 74%;
    width: 25%;
    z-index: 999 !important;
}

.App .mainPlayer .subPlayer {
    width: 100%;
    height: 100%;
}

.App .mainPlayer .subMultiMode {
    padding-top: 0 !important;
    top: 0;
    position: absolute;
    width: 50% !important;
    height: 100% !important;
    z-index: 0;
    border: none;
}

.App .mainPlayer .mainSingleMode {
    left: 0 !important;
    width: 100% !important;
}

.App .mainPlayer .mainMultiMode {
    left: 50% !important;
    width: 50% !important;
}

.bookmarkButton {
    z-index: 3;
    position: absolute;
    bottom: 100%;
    padding: 0 0 !important;
    font-size: 15px !important;
}

.video-react .video-react-play-progress {
    background: rgba(255, 0, 0, 0.7) !important;
}

.video-react .video-react-play-progress::before {
    color: rgb(255, 0, 0) !important;
}

.fillButton {
    pointer-events: none;
}

button.video-react-button, button.btn-secondary {
    color: rgba(255, 255, 255, 0.9) !important;
}

button.video-react-button:hover, button.btn-secondary:hover {
    color: rgba(255, 255, 255, 0.9) !important;
    background: transparent;
}

button.video-react-button > svg:hover, button.btn-secondary > svg:hover {
    width: 1.2em;
    height: 1.3em;
    color: rgba(255, 255, 255, 1) !important;
}

button#resolution-stream-button:hover {
    color: rgba(255, 255, 255, 1) !important;
    font-weight: 700;
    width: 44.85px !important;
}

button.bookmarkButton > svg {
    color: #6c757d !important;
}

button.bookmarkButton > svg:hover {
    width: 15px !important;
    height: 15px !important;
}

button.bookmarkButton:hover {
    background: #696f77 !important;
}

.video-react .video-react-play-progress:after {
    font-family: Arial, Helvetica, sans-serif !important;
}
